.imgEquipo {  
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;  
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    padding: 5px;
    width: 150px;
    height: 150px;
  }

 .ContenedorDiv{ /**/
    display: flex;
 }

.equipoPersona{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }  

  .parrafo{
      /*background: #ccc ;*/
      height: 220px;
      margin: 2rem auto;
      text-align: center;
      width: 300px;
  }

  hr {
    height: 5px;
    width: 50%;
    margin-left: 25%;
    background-color: black;
  }

  #footer {
    background: #777777;
    clear: both;
    color: #DDDDDD;
    font-size: 12px;
    height: 50px;
    line-height: 0.5;
    padding: 0 192px;
    min-width: 896px;
}

.fivesixth {
  color: #6E7380;
  text-decoration: none;
  color: #6E7380;
}

.redesSociales{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 40px;
}  


